.main{
    margin: 5px;
    width: 300px;
    height: auto;
    background-color: white;
    border-radius: 10px;
}

.title{
    text-align: center;
    align-items: center;
    width: 100%;
    font-size: 1.1rem;
}

.alumnos{
    text-align: justify;
    margin-left: 5px;
    margin-bottom: 5px;
}